## Задание 1

Дан список с визитами по городам и странам. 
Напишите код, который возвращает отфильтрованный список geo_logs, содержащий только визиты из России.

In [12]:
geo_logs = [
    {'visit1': ['Москва', 'Россия']},
    {'visit2': ['Дели', 'Индия']},
    {'visit3': ['Владимир', 'Россия']},
    {'visit4': ['Лиссабон', 'Португалия']},
    {'visit5': ['Париж', 'Франция']},
    {'visit6': ['Лиссабон', 'Португалия']},
    {'visit7': ['Тула', 'Россия']},
    {'visit8': ['Тула', 'Россия']},
    {'visit9': ['Курск', 'Россия']},
    {'visit10': ['Архангельск', 'Россия']}
]
print(geo_logs[0:3:2] + geo_logs[-4:-1])

[{'visit1': ['Москва', 'Россия']}, {'visit3': ['Владимир', 'Россия']}, {'visit7': ['Тула', 'Россия']}, {'visit8': ['Тула', 'Россия']}, {'visit9': ['Курск', 'Россия']}]

## Задание 2

Выведите на экран все уникальные гео-ID из значений словаря ids. Т. е. список вида [213, 15, 54, 119, 98, 35]

In [73]:
ids = {'user1': [213, 213, 213, 15, 213], 
       'user2': [54, 54, 119, 119, 119], 
       'user3': [213, 98, 98, 35]}
my_ids = ids['user1'] + ids['user2'] + ids['user3']
my_set = set(my_ids)
print(my_set)

{98, 35, 15, 213, 54, 119}

## Задание 3

Дан список поисковых запросов. Получить распределение количества слов в них. 
Т. е. поисковых запросов из одного - слова 5%, из двух - 7%, из трех - 3% и т.д.

In [2]:
queries = [
    'смотреть сериалы онлайн',
    'новости спорта',
    'афиша кино',
    'курс доллара',
    'сериалы этим летом',
    'курс по питону',
    'сериалы про спорт',
]
all_queries = len(queries)
all_queries

7

In [3]:
my_list = []
for i in queries:
    my_list.append(len(i.split()))
my_list

[3, 2, 2, 2, 3, 3, 3]

In [4]:
my_dict = dict(zip(queries, my_list))
my_dict

{'смотреть сериалы онлайн': 3,
 'новости спорта': 2,
 'афиша кино': 2,
 'курс доллара': 2,
 'сериалы этим летом': 3,
 'курс по питону': 3,
 'сериалы про спорт': 3}

In [5]:
a=my_list.count(2)
a

3

In [6]:
b=my_list.count(3)
b

4

In [22]:
result_1=(a/all_queries)*100
round(result_1,2)

42.86

In [23]:
result_2=(b/all_queries)*100
round(result_2,2)

57.14

In [38]:
f'Поисковых запросов из 2 слов:{round(result_1,2)}%, из 3 слов:{round(result_2,2)}%.'

'Поисковых запросов из 2 слов:42.86%, из 3 слов:57.14%.'

## Задание 4

Дана статистика рекламных каналов по объемам продаж. Напишите скрипт, который возвращает название канала с максимальным объемом.
Т. е. в данном примере скрипт должен возвращать 'yandex'.

In [157]:
stats = {'facebook': 55, 'yandex': 120, 'vk': 115, 'google': 99, 'email': 42, 'ok': 98}
max(stats, key=stats.get)

'yandex'

## Задание 5

Дан поток логов по количеству просмотренных страниц для каждого пользователя. Список отсортирован по ID пользователя. Вам необходимо написать алгоритм, который считает среднее значение просмотров на пользователя. 
Т. е. надо посчитать отношение суммы всех просмотров к количеству уникальных пользователей.

In [41]:
stream = [
    '2018-01-01,user1,3',
    '2018-01-07,user1,4',
    '2018-03-29,user1,1',
    '2018-04-04,user1,13',
    '2018-01-05,user2,7',
    '2018-06-14,user3,4',
    '2018-07-02,user3,10',
    '2018-03-21,user4,19',
    '2018-03-22,user4,4',
    '2018-04-22,user4,8',
    '2018-05-03,user4,9',
    '2018-05-11,user4,11',
]

In [100]:
my_stream=','.join(stream).split(',')
my_stream

['2018-01-01',
 'user1',
 '3',
 '2018-01-07',
 'user1',
 '4',
 '2018-03-29',
 'user1',
 '1',
 '2018-04-04',
 'user1',
 '13',
 '2018-01-05',
 'user2',
 '7',
 '2018-06-14',
 'user3',
 '4',
 '2018-07-02',
 'user3',
 '10',
 '2018-03-21',
 'user4',
 '19',
 '2018-03-22',
 'user4',
 '4',
 '2018-04-22',
 'user4',
 '8',
 '2018-05-03',
 'user4',
 '9',
 '2018-05-11',
 'user4',
 '11']

In [112]:
len(my_stream)

36

In [131]:
users_list = my_stream[1:37:3]
users_list

['user1',
 'user1',
 'user1',
 'user1',
 'user2',
 'user3',
 'user3',
 'user4',
 'user4',
 'user4',
 'user4',
 'user4']

In [141]:
amount_of_users = len(set(users_list))
amount_of_users

4

In [142]:
views_list =my_stream[2:37:3]
views_list

['3', '4', '1', '13', '7', '4', '10', '19', '4', '8', '9', '11']

In [143]:
total_views = sum([sum(map(int, i.split(','))) for i in views_list])
total_views

93

In [145]:
avg_views=total_views/amount_of_users
avg_views

23.25

## Задание 6

Дана статистика рекламных кампаний по дням. Напишите алгоритм, который по паре дата-кампания ищет значение численного столбца. 
Т. е. для даты '2018-01-01' и 'google' нужно получить число 25. 
Считайте, что все комбинации дата-кампания уникальны.

In [1]:
stats = [
    ['2018-01-01', 'google', 25],
    ['2018-01-01', 'yandex', 65],
    ['2018-01-01', 'market', 89],
    ['2018-01-02', 'google', 574],
    ['2018-01-02', 'yandex', 249],
    ['2018-01-02', 'market', 994],
    ['2018-01-03', 'google', 1843],
    ['2018-01-03', 'yandex', 1327],
    ['2018-01-03', 'market', 1764],
]

In [2]:
stats[0:8:3]

[['2018-01-01', 'google', 25],
 ['2018-01-02', 'google', 574],
 ['2018-01-03', 'google', 1843]]

In [6]:
date = input('Дата:')
company = input('Компания:')
for element in stats:
    if date in element[0:9] and company in element[0:9]:
        print(element[2])

Дата: 2018-01-03
Компания: yandex

1327